[submodule "vendors/eigen"]
	path = vendors/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendors/matplotlib"]
	path = vendors/matplotlib
	url = https://github.com/lava/matplotlib-cpp.git
